<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>在线考试系统后台教师管理页面</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/css/ready.css" th:href="@{/assets/css/ready.css}">
    <link rel="stylesheet" href="assets/css/demo.css" th:href="@{/assets/css/demo.css}">
</head>
<body>
<div class="wrapper">
    <!--header-->
    <div th:replace="commons/bar::header"></div>

    <!--slidebar-->
    <div th:replace="commons/bar::#sidebar(activeUri='/teacher/getAllTeacher')"></div>

    <!--main panel-->
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <h4 class="page-title">SQL语句测试</h4>
                <div class="col-md-12">
                    <form th:action="@{/teacher/checkSql}" method="get">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>SQL</label>
                                    <div class="input-group">
<!--                                        <input type="text" class="form-control" id="opa" name="sql" placeholder="sql语句">-->
                                        <textarea class="form-control" rows="4" id="opa" name="sql" placeholder="sql语句"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>结果</label>
                                    <div class="input-group">
                                        <textarea class="form-control" rows="4" id="result" placeholder="执行结果"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="card-action">
                        <button class="btn btn-success" onclick="checkSql()" th:text="执行"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<div th:replace="commons/bar::footer"></div>
<script src="assets/js/core/jquery.3.2.1.min.js" th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
//显示密码
<script>
    function checkSql() {
        $.ajax({
            type: "post",
            async: true,
            url: "/teacher/checkSql",
            data: {sql: $(" textarea[ name='sql' ] ").val()},
            success: function (result) {
                $("#result").val(result);
            }
        })
    }
</script>


</body>
</html>